.container{
    padding-top: 50px;
}

 /* Style all font awesome icons */
.fa {
    padding-right: 40px;
    padding-left: 3px;
    padding-top: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #1961B9;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.imageicon{
    width: 40px;
    margin-bottom:5px;
}
